/* ==========================================================================
# Portfolio Single Big Slider - begin
========================================================================== */

.big-slider {

	.qodef-big-image-holder {
		margin-bottom: 40px;
	}

	.qodef-portfolio-content{
		margin-top:20px;
	}

	.qodef-portfolio-info-holder{
		margin-top:20px;
	}

}

/* ==========================================================================
# Portfolio Single Big Slider - end
========================================================================== */