/* ==========================================================================
# Image Gallery - begin
========================================================================== */

/* Image Gallery Grid - begin
========================================================================== */

.qodef-image-gallery {

	.qodef-grayscale .qodef-gallery-image img {
		-webkit-filter: grayscale(100%);
		-moz-filter: grayscale(100%);
		filter: gray;
		filter: grayscale(100%);
		filter: url(img/desaturate.svg#grayscale);
	}

	.qodef-grayscale .qodef-gallery-image:hover img {
		-webkit-filter: grayscale(0);
		filter: none;
	}


	.qodef-gallery-image img {
		display: block;
	}

    .qodef-image-gallery-grid {
        .qodef-gallery-image {
            position: relative;
            .qodef-gallery-image-overlay {
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                display: inline-block;
                background-color: rgba(255, 255, 255, .4);
                opacity: 0;
                -webkit-transition: opacity .2s ease-out;
                -moz-transition: opacity .2s ease-out;
                transition: opacity .2s ease-out;
            }
            &:hover {
                .qodef-gallery-image-overlay {
                    opacity: 1;
                }
            }
        }
    }

	.qodef-image-gallery-grid.qodef-gallery-columns-2 {

		.qodef-gallery-image {
			width: 49%;
			margin-right: 2%;
			margin-bottom: 2%;
			display: inline-block;
			float: left;

			&:nth-child(2n) {
				margin-right: 0;
			}

			&:nth-child(2n+1) {
				clear: both;
			}
		}
	}

	.qodef-image-gallery-grid.qodef-gallery-columns-3 {

		.qodef-gallery-image {
			width: 32%;
			margin-right: 2%;
			margin-bottom: 2%;
			display: inline-block;
			float: left;

			&:nth-child(3n) {
				margin-right: 0;
			}

			&:nth-child(3n+1) {
				clear: both;
			}
		}
	}

	.qodef-image-gallery-grid.qodef-gallery-columns-4 {

		.qodef-gallery-image {
			width: 23.5%;
			margin-right: 2%;
			margin-bottom: 2%;
			display: inline-block;
			float: left;

			&:nth-child(4n) {
				margin-right: 0;
			}

			&:nth-child(4n+1) {
				clear: both;
			}
		}
	}

	.qodef-image-gallery-grid.qodef-gallery-columns-5 {

		.qodef-gallery-image {
			width: 18.4%;
			margin-right: 2%;
			margin-bottom: 2%;
			display: inline-block;
			float: left;

			&:nth-child(5n) {
				margin-right: 0;
			}

			&:nth-child(5n+1) {
				clear: both;
			}
		}
	}
}

/* Image Gallery Grid - end
========================================================================== */

/* Image Gallery Slider - begin
========================================================================== */

.qodef-image-gallery {

    .owl-nav {

        .owl-prev {
            position: absolute;
            top: 50%;
            @include qodefTransform(translateY(-50%));
            left: 0;
        }

        .owl-next {
            position: absolute;
            top: 50%;
            @include qodefTransform(translateY(-50%));
            right: 0;
        }

        .qodef-prev-icon,
        .qodef-next-icon {
            display: inline-block;
            width: 55px;
            height: 55px;
            line-height: 55px;
            color: #2c2c2c;
            background-color: #ffffff;
            text-align: center;
            font-size: 33px;
            @include qodefTransition(background-color 0.15s ease-out);

            &:hover {
                background-color: rgba(255, 255, 255, 0.5);
            }
        }

    }

    .owl-dots {
        text-align: center;
        position: absolute;
        bottom: 20px;
        left: 0;
        right: 0;
        margin: auto;

        .owl-dot {
            display: inline-block;
        }

        .owl-dot span {
            display: inline-block;
            width: 9px;
            height: 9px;
            margin: 0 10px;
            filter: Alpha(Opacity=50);
            opacity: 0.5;
            -webkit-border-radius: 20px;
            -moz-border-radius: 20px;
            border-radius: 20px;
            background: #fff;
        }

        .owl-dot.active span {
            opacity: 1;
        }

    }

}

/* Image Gallery Slider - end
========================================================================== */

/* ==========================================================================
# Image Gallery - end
========================================================================== */